@charset "UTF-8";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #333;
  font-family: "Noto Serif", "游ゴシック", "Yu Gothic", sans-serif;
  line-height: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

a {
  color: #0069ff;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.wrapper {
  overflow-x: hidden;
}

.ly_header {
  width: 100vw;
}

.ly_header_inner {
  max-width: 960px;
  margin: 0 30px;
}
@media screen and (min-width: 960px) {
  .ly_header_inner {
    margin: 0 auto;
  }
}

.ly_cont {
  width: 100vw;
  padding: 30px 0;
}

.ly_cont_inner {
  max-width: 960px;
  margin: 30px;
}
@media screen and (min-width: 960px) {
  .ly_cont_inner {
    margin: 0 auto;
  }
}

.ly_footer {
  width: 100vw;
  padding: 30px 0;
  background-color: #e7e3da;
}

.bl_headerUtils {
  display: flex;
  justify-content: space-between;
  align-items: flex-center;
  padding: 20px 30px 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 3px 3px #baa896;
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

.bl_headerUtils_siteTtl {
  height: 30px;
  display: flex;
  align-items: center;
}

.bl_headerUtils_siteTtl a {
  text-decoration: none;
  color: #333;
  font-size: 1.25rem;
}

.bl_hamburgerBtn {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .bl_hamburgerBtn {
    display: none;
  }
}

.bl_hamburgerBtn_icon {
  position: relative;
  z-index: 3;
  display: block;
  width: 30px;
  height: 15px;
}

.bl_hamburgerBtn_bar {
  position: absolute;
  display: block;
  width: inherit;
  height: 2px;
  background-color: #333;
  transition: all 0.3s;
  border-radius: 100vh;
}

.bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__top {
  top: -1px;
}

.bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__mid {
  top: 50%;
  transform: translateY(-50%);
}

.bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__bottom {
  bottom: -1px;
}

.bl_hamburgerBtn.is_close .bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__top {
  transform: translate(0, 7.8px) rotate(30deg);
}

.bl_hamburgerBtn.is_close .bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__mid {
  opacity: 0;
}

.bl_hamburgerBtn.is_close .bl_hamburgerBtn_bar.bl_hamburgerBtn_bar__bottom {
  transform: translate(0, -7.8px) rotate(-30deg);
}

.is_noscroll {
  overflow: hidden;
}

.bl_headerNav {
  display: none;
}
@media screen and (min-width: 768px) {
  .bl_headerNav {
    display: block;
  }
}

.bl_headerNav_inner {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.bl_headerNav_inner > li {
  height: 35px;
  display: flex;
  align-items: center;
  margin: 0 30px 0 0;
}

.bl_headerNav_inner > li:last-child {
  margin-right: 0;
}

.bl_headerNav_link {
  text-decoration: none !important;
  color: #333 !important;
}

.bl_mainVisual {
  position: relative;
  height: 250px;
  background-color: #e7e3da;
}

.bl_mainVisual_body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.bl_mainVisual_ttl {
  margin-bottom: 10px;
}

.bl_mainVisual_txt {
  white-space: nowrap;
}

.bl_section_lv2Ttl {
  position: relative;
  background-color: #e7e3da;
  padding-left: 12px;
  margin-bottom: 15px;
}

.bl_section_lv2Ttl::before {
  position: absolute;
  left: 0;
  display: block;
  content: "";
  height: 100%;
  width: 8px;
  background-color: #baa896;
}

.bl_section_lv3Ttl {
  border-bottom: 2px solid #baa896;
  margin-bottom: 15px;
}

.bl_section_msg {
  margin-bottom: 15px;
}

.bl_section_cont {
  margin: 30px 0;
}

.el_copyRight {
  text-align: center;
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.bl_flowChart_ttl {
  text-align: center;
  margin-bottom: 10px;
}

.bl_flowChart_list {
  position: relative;
  counter-reset: bl_orderList_cnt;
  max-width: 500px;
  margin: 0 auto;
}

.bl_flowChart_list::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  content: "";
  width: 6px;
  height: 260px;
  background-color: beige;
  z-index: -1;
}

.bl_flowChart_item {
  list-style: none;
  background-color: beige;
  font-weight: bold;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 150px;
  margin-bottom: 10px;
}

.bl_flowChart_item > span {
  position: relative;
  padding-left: 1em;
}

.bl_flowChart_item > span::before {
  counter-increment: bl_orderList_cnt;
  position: absolute;
  top: 0;
  left: 0;
  content: counter(bl_orderList_cnt) ".";
  color: #f00;
  font-weight: bold;
}

.bl_flowChart_item.bl_flowChart_item__skip {
  position: relative;
  max-width: 440px;
}

.bl_flowChart_item.bl_flowChart_item__skip::after {
  position: absolute;
  top: -10px;
  right: -30px;
  display: block;
  content: "";
  width: 6px;
  height: 64px;
  background-color: beige;
  z-index: -1;
}
