@use "mixin" as m;
@use "variables" as v;

// ------------------------------------------------
//    ファイル名：_elements.scss
//    機能：各素材のスタイルを記述する
// ------------------------------------------------

// ----------------------
//  吹き出しモジュール
// ----------------------
// アイコン＋吹き出しのペア
.bl_balloonBox {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  // 余白
  margin-bottom: 20px;

  // 右向き
  &.bl_balloonBox__right {
    flex-direction: row-reverse;
  }
}

.bl_balloon {
  // 基準位置を設定
  position: relative;

  // サイズ
  max-width: 480px;

  // 背景色
  background-color: #fff;

  // 角丸
  border-radius: 15px;
  border: 1px solid v.$black-color;

  // 余白
  padding: 15px;
  margin-left: 30px;

  // 左寄せ
  margin-right: auto;

  // とんがり部分（外側）
  &::before {
    // 位置
    position: absolute;
    top: 1.5em;
    right: 100%;

    // スタイル
    // 20x30の三角形
    display: block;
    content: "";
    border-top: 15px solid transparent;
    border-right: 20px solid v.$black-color;
    border-bottom: 15px solid transparent;
    border-left: none;
  }

  // とんがり部分（内側）
  &::after {
    // 位置
    position: absolute;
    top: 1.5em;
    right: calc(100% - 1.6px);
    z-index: 1;

    // スタイル
    display: block;
    content: "";
    border-top: 15px solid transparent;
    border-right: 20px solid #fff;
    border-bottom: 15px solid transparent;
    border-left: none;
  }

  // 右向き
  &.bl_balloon__right {
    margin-right: 30px;
    margin-left: auto;

    // とんがり部分（外側）
    &::before {
      // 位置
      // 角丸のボーダー分＋三角形の横幅
      left: auto;
      left: 100%;

      // スタイル
      border-top: 15px solid transparent;
      border-right: none;
      border-bottom: 15px solid transparent;
      border-left: 20px solid v.$black-color;
    }

    // とんがり部分（内側）
    &::after {
      // 位置
      left: auto;
      left: calc(100% - 1.6px);

      // スタイル
      border-top: 15px solid transparent;
      border-right: none;
      border-bottom: 15px solid transparent;
      border-left: 20px solid #fff;
    }
  }
}

// ----------------------
//  楕円の吹き出し
// ----------------------
// 2つごとに改行
.bl_roundBalloonUnit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.bl_roundBalloon {
  // 基準位置を設定
  position: relative;

  // サイズ
  width: 120px;
  height: 80px;

  // 文字を中央揃え
  display: flex;
  justify-content: center;
  align-items: center;

  // 背景色
  background-color: v.$accent-color-elm;

  // 楕円
  border-radius: 50%;
  border: 1px solid #555;

  // 余白
  padding: 15px;
  margin: 20px 50px;

  > span {
    color: white;
    font-weight: map-get(v.$fontweights, bold);
    font-size: 1.25em;
  }

  // とんがり部分（外側）
  &::before {
    // 位置
    position: absolute;
    top: 50%;
    right: calc(100% - 2px);
    transform: translateY(-50%);
    z-index: -1;

    // スタイル
    // 15x24の三角形
    display: block;
    content: "";
    border-top: 12px solid transparent;
    border-right: 15px solid #555;
    border-bottom: 12px solid transparent;
    border-left: none;
  }

  // とんがり部分（内側）
  &::after {
    // 位置
    position: absolute;
    top: 50%;
    right: calc(100% - 4px);
    transform: translateY(-50%);
    z-index: 1;

    // スタイル
    display: block;
    content: "";
    border-top: 12px solid transparent;
    border-right: 15px solid v.$accent-color-elm;
    border-bottom: 12px solid transparent;
    border-left: none;
  }

  // 右向き
  &.bl_roundBalloon__right {
    // とんがり部分（外側）
    &::before {
      // 位置
      left: auto;
      left: calc(100% - 2px);

      // スタイル
      border-top: 12px solid transparent;
      border-right: none;
      border-bottom: 12px solid transparent;
      border-left: 15px solid #555;
    }

    // とんがり部分（内側）
    &::after {
      // 位置
      left: auto;
      left: calc(100% - 4px);

      // スタイル
      border-top: 12px solid transparent;
      border-right: none;
      border-bottom: 12px solid transparent;
      border-left: 15px solid v.$accent-color-elm;
    }
  }

  // 下向き
  &.bl_roundBalloon__bottom {
    // とんがり部分（外側）
    &::before {
      // 位置
      right: auto;
      top: calc(100% - 2px);
      left: 50%;
      transform: translateX(-50%);

      // スタイル
      border-top: 15px solid #555;
      border-right: 12px solid transparent;
      border-bottom: none;
      border-left: 12px solid transparent;
    }

    // とんがり部分（内側）
    &::after {
      // 位置
      right: auto;
      top: calc(100% - 4px);
      left: 50%;
      transform: translateX(-50%);

      // スタイル
      border-top: 15px solid v.$accent-color-elm;
      border-right: 12px solid transparent;
      border-bottom: none;
      border-left: 12px solid transparent;
    }
  }

  // 上向き
  &.bl_roundBalloon__top {
    // とんがり部分（外側）
    &::before {
      // 位置
      top: auto;
      right: auto;
      bottom: calc(100% - 2px);
      left: 50%;
      transform: translateX(-50%);

      // スタイル
      border-top: none;
      border-right: 12px solid transparent;
      border-bottom: 15px solid #555;
      border-left: 12px solid transparent;
    }

    // とんがり部分（内側）
    &::after {
      // 位置
      top: auto;
      right: auto;
      bottom: calc(100% - 4px);
      left: 50%;
      transform: translateX(-50%);

      // スタイル
      border-top: none;
      border-right: 12px solid transparent;
      border-bottom: 15px solid v.$accent-color-elm;
      border-left: 12px solid transparent;
    }
  }

  // 左上向き
  // 左向き吹き出しを基準に、回転＆位置調整
  &.bl_roundBalloon__diagonalLT {
    // とんがり部分（外側）
    &::before {
      // 位置
      top: 0;
      right: auto;
      bottom: auto;
      left: 0;
      transform: rotate(45deg);
    }

    // とんがり部分（内側）
    &::after {
      // 位置
      top: 1px;
      right: auto;
      bottom: auto;
      left: 1px;
      transform: rotate(45deg);
    }
  }

  // 左下向き
  // 左向き吹き出しを基準に、回転＆位置調整
  &.bl_roundBalloon__diagonalLB {
    // とんがり部分（外側）
    &::before {
      // 位置
      top: auto;
      right: auto;
      bottom: 0;
      left: 0;
      transform: rotate(-45deg);
    }

    // とんがり部分（内側）
    &::after {
      // 位置
      top: auto;
      right: auto;
      bottom: 1px;
      left: 1px;
      transform: rotate(-45deg);
    }
  }

  // 右上向き
  // 右向き吹き出しを基準に、回転＆位置調整
  &.bl_roundBalloon__diagonalRT {
    // とんがり部分（外側）
    &::before {
      // 位置
      top: 0;
      right: 0;
      bottom: auto;
      left: auto;
      transform: rotate(-45deg);

      // スタイル
      border-top: 12px solid transparent;
      border-right: none;
      border-bottom: 12px solid transparent;
      border-left: 15px solid #555;
    }

    // とんがり部分（内側）
    &::after {
      // 位置
      top: 1px;
      right: 1px;
      bottom: auto;
      left: auto;
      transform: rotate(-45deg);

      // スタイル
      border-top: 12px solid transparent;
      border-right: none;
      border-bottom: 12px solid transparent;
      border-left: 15px solid v.$accent-color-elm;
    }
  }

  // 右下向き
  // 右向き吹き出しを基準に、回転＆位置調整
  &.bl_roundBalloon__diagonalRB {
    // とんがり部分（外側）
    &::before {
      // 位置
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
      transform: rotate(45deg);

      // スタイル
      border-top: 12px solid transparent;
      border-right: none;
      border-bottom: 12px solid transparent;
      border-left: 15px solid #555;
    }

    // とんがり部分（内側）
    &::after {
      // 位置
      top: auto;
      right: 1px;
      bottom: 1px;
      left: auto;
      transform: rotate(45deg);

      // スタイル
      border-top: 12px solid transparent;
      border-right: none;
      border-bottom: 12px solid transparent;
      border-left: 15px solid v.$accent-color-elm;
    }
  }
}

// ----------------------
//  アイコン
// ----------------------
// アイコン
.bl_icon {
  // 中央揃え
  text-align: center;
}

// アイコン画像
.bl_icon_imgWrapper {
  // 基準位置を設定
  position: relative;

  // 名前との余白
  margin-bottom: 10px;

  // 1:1で表示する指定（1/1=100%）
  // absolute指定があるので、heightでは高さを確保できないため、
  // padding-topで領域を確保する
  padding-top: 80px;
  padding-right: 80px;

  // 表示不要な部分を隠す
  overflow: hidden;

  // 丸型にくり抜く
  border-radius: 50%;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    // 元画像の高さ/幅が100%より小さい場合は、width:auto,height:100%
    // 元画像の高さ/幅が100%より大きい場合は、width:100%,height:auto
    // メモ：動的に定義できると良い(jQuery)
    max-width: none;
    width: auto;
    height: 100%;
  }
}

.bl_icon_name {
  color: v.$black-color;
}

// ----------------------
//  カードモジュール
// ----------------------
.un_card01 {
  // 複数カードのまとまり
  .bl_cardUnit {
    // スマホ幅でblock要素のままだとマージンの相殺が起こるため、
    // （bl_section_contの下マージン50pxとbl_cardUnitの下マージン-20px）
    // スマホ幅でもflex指定にしておく
    display: flex;
    flex-wrap: wrap;

    // 余白（最終行の余白を相殺★）
    margin-bottom: -20px;

    & > .bl_card {
      // 幅
      width: 100%;

      // 余白（最終行は相殺される★）
      margin-bottom: 20px;
    }
  }

  // ３列ごとに改行
  .bl_cardUnit__col3 {
    & > .bl_card {
      @include m.media-query-min(md) {
        // 横幅と右マージンを指定
        width: 32%;
        margin-right: 2%;
      }
    }

    & > .bl_card:nth-of-type(3n) {
      @include m.media-query-min(md) {
        // 3の倍数個目の要素は、右マージン不要
        margin-right: 0;
      }
    }
  }

  // カード
  .bl_card {
    // シャドウ
    box-shadow: 0 0 6px rgb(0 0 0 / 16%);

    // クリックできそうを表現
    cursor: pointer;
    color: v.$black-color;
    text-decoration: none;

    // ホバー時、フォーカス時にシャドウを変化させる
    &:hover,
    &:focus {
      box-shadow: 0 0 20px rgb(0 0 0 / 32%);
    }
  }

  // 画像
  .bl_card_imgWrapper {
    // 基準位置を設定
    position: relative;

    // 16:9で表示する指定（9/16=56.25%）
    // absolute指定があるので、heightでは高さを確保できないため、
    // padding-topで領域を確保する
    padding-top: 56.25%;

    // 表示不要な部分を隠す
    overflow: hidden;

    img {
      // 上下中央揃え
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      // 元画像の高さ/幅が56.25%より小さい場合は、width:auto,height:100%
      // 元画像の高さ/幅が56.25%より大きい場合は、width:100%,height:auto
      // メモ：動的に定義できると良い(jQuery)
      max-width: none;
      width: auto;
      height: 100%;
    }
  }

  // 画像下のコンテンツ
  .bl_card_body {
    // 余白
    padding: 15px;
  }

  // タイトル
  .bl_card_ttl {
    // 文字
    font-size: 1.125rem;
    font-weight: map-get(v.$fontweights, bold);
    margin-bottom: 15px;
  }
}

// ----------------------
//  番号付きカードモジュール（コード追加分）
// ----------------------
.un_card02 {
  // 複数カードのまとまり
  .bl_cardUnit {
    // スマホ幅でblock要素のままだとマージンの相殺が起こるため、
    // （bl_section_contの下マージン50pxとbl_cardUnitの下マージン-20px）
    // スマホ幅でもflex指定にしておく
    display: flex;
    flex-wrap: wrap;

    // 余白（最終行の余白を相殺★）
    margin-bottom: -20px;

    // カウンター初期化
    counter-reset: bl_card_cnt;

    & > .bl_card {
      // 幅
      width: 100%;

      // 余白（最終行は相殺される★）
      margin-bottom: 20px;
    }
  }

  // ３列ごとに改行
  .bl_cardUnit__col2 {
    & > .bl_card {
      @include m.media-query-min(md) {
        // 横幅と右マージンを指定
        width: 48%;
        margin-right: 4%;
      }
    }

    & > .bl_card:nth-of-type(2n) {
      @include m.media-query-min(md) {
        // 2の倍数個目の要素は、右マージン不要
        margin-right: 0;
      }
    }
  }

  // カード
  .bl_card {
    // 基準位置を設定
    position: relative;
    margin-top: 64px;

    // 背景色
    background-color: #fff;

    // ボーダー
    border-top: 3px solid v.$accent-color-elm;
    border-right: 1px solid rgb(0 0 0 / 16%);
    border-bottom: 1px solid rgb(0 0 0 / 16%);
    border-left: 1px solid rgb(0 0 0 / 16%);

    // カード上部の半円部分のボーダーを欠けさせる
    // カードの背景色で上書き

    &::before {
      // 位置
      position: absolute;
      top: -15px;
      left: 50%;
      transform: translateX(-50%);

      // スタイル
      // 幅はbl_card_badgeのボーダー3px分を差し引いた値
      display: block;
      content: "";
      width: 64px;
      height: 30px;
      background-color: #fff;
    }
  }

  // カード上部の装飾
  .bl_card_badge {
    // 位置（bl_cardの基準位置が採用される）
    position: absolute;
    top: -64px;
    left: 50%;
    transform: translateX(-50%);

    // 中央揃え
    text-align: center;

    // 文字
    font-size: 1.125rem;
    font-weight: map-get(v.$fontweights, bold);
    color: v.$accent-color-elm;

    &::after {
      // 前面に表示
      z-index: 2;

      // スタイル
      display: block;

      // 数字部分
      content: counter(bl_card_cnt);
      padding-top: 8px;
      font-size: 2rem;
      font-weight: map-get(v.$fontweights, bold);

      // 半円部分
      width: 70px;
      height: 35px;
      border-radius: 35px 35px 0 0;
      border: 3px solid v.$accent-color-elm;
      border-bottom: transparent;

      // カウンターインクリメント
      counter-increment: bl_card_cnt;
    }
  }

  // カード（内部）
  .bl_card_inner {
    // 余白
    padding: 30px 15px 15px;
  }

  // タイトル
  .bl_card_ttl {
    // 文字
    text-align: center;
    font-size: 1.125rem;
    font-weight: map-get(v.$fontweights, bold);

    // 余白
    margin-bottom: 15px;
  }

  // 画像
  .bl_card_imgWrapper {
    // 基準位置を設定
    position: relative;

    // 16:9で表示する指定（9/16=56.25%）
    // absolute指定があるので、heightでは高さを確保できないため、
    // padding-topで領域を確保する
    padding-top: 56.25%;

    // 表示不要な部分を隠す
    overflow: hidden;

    // 余白
    margin-bottom: 15px;

    img {
      // 上下中央揃え
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      // 元画像の高さ/幅が56.25%より小さい場合は、width:auto,height:100%
      // 元画像の高さ/幅が56.25%より大きい場合は、width:100%,height:auto
      // メモ：動的に定義できると良い(jQuery)
      height: auto;
      width: 100%;
    }
  }
}

// ----------------------
//  フローチャート
// ----------------------
.bl_flowChart_ttl {
  text-align: center;

  // 余白
  margin-bottom: 10px;
}

// リスト
.bl_flowChart_list {
  // 基準位置を設定
  position: relative;

  // カウンター初期化
  counter-reset: bl_orderList_cnt;

  // 横幅設定＆中央揃え
  max-width: 500px;
  margin: 0 auto;

  // 縦のラインを定義
  &::after {
    // 位置
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    // スタイル
    display: block;
    content: "";
    width: 6px;

    // メモ：動的に定義できると良い(jQuery)
    height: 260px;
    background-color: v.$base-color-elm;
    z-index: -1;
  }
}

// リストアイテム
.bl_flowChart_item {
  // リストスタイルを消去
  list-style: none;

  // 背景色
  background-color: v.$base-color-elm;

  // 太字
  font-weight: bold;

  // 余白
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 35%;
  margin-bottom: 10px;

  // リストスタイルを定義
  & > span {
    // 基準位置を設定
    position: relative;

    // リストスタイルのスペースを確保
    padding-left: 1em;

    &::before {
      // カウンターインクリメント
      counter-increment: bl_orderList_cnt;

      // リストスタイルを再定義
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: counter(bl_orderList_cnt) ".";
      color: v.$accent-color-elm;
      font-weight: bold;
    }
  }

  // フローをスキップするアイテム
  &.bl_flowChart_item__skip {
    // 基準位置を設定
    position: relative;

    // サイズ
    max-width: 85%;

    // 縦のラインを定義
    &::after {
      // 位置
      position: absolute;
      top: -10px;
      right: -10%;

      // スタイル
      display: block;
      content: "";
      width: 6px;

      // メモ：動的に定義できると良い(jQuery)
      height: 64px;
      background-color: v.$base-color-elm;
      z-index: -1;
    }
  }
}
