// ------------------------------------------------
//  ファイル名：_variables.scss
//  機能：変数を記述する
// ------------------------------------------------
// 黒
$black-color: #333;

// ベースカラー
$base-color: #baa896;
$base-color-light: #e7e3da;
$base-color-elm: #f3ecd8;

// アクセントカラー
$accent-color-elm: #e38b75;

// フォントの太さ
$fontweights: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  extrabold: 800,
  black: 900,
) !default;

// ブレークポイント
$breakpoints: (
  md: 768px,
  max-width: 960px,
  lg: 1440px,
) !default;
